<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS -->
    <link rel="stylesheet" href="/app.css" />
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <!-- FAVICONS -->
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/favicon/favicon.ico"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/favicon/favicon-16x16.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/assets/favicon/android-chrome-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="512x512"
      href="/assets/favicon/android-chrome-512x512.png"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>{{title}}</title>
  </head>
  <body>
    <!-- prettier-ignore -->
    % include('components/header_component')
    <section class="bg-unidLigthPink">
      <div class="width_standard padding_y_standard space_y_standard mx-auto">
        <div class="flex justify-center">
          <div
            class="lg:w-2/3 flex justify-center flex-col text-center gap-y-4 md:gap-y-6"
          >
            <h1>Privatlivspolitik</h1>
          </div>
        </div>
        <div class="space-y-6">
          <div>
            <p class="font-semibold">1. Introduktion</p>
            <p>
              Velkommen til UNID Studio. Din privatliv og sikkerhed er vigtig
              for os. Denne privatlivspolitik forklarer, hvordan vi indsamler,
              bruger, opbevarer og beskytter dine oplysninger, når du bruger
              vores tjenester, herunder vores hjemmeside og platform, hvor du
              kan oprette dig og købe klippekort eller abonnementer.
            </p>
          </div>
          <div>
            <p class="font-semibold">2. Data, vi indsamler</p>
            <p>Vi indsamler følgende typer oplysninger:</p>
            <ul>
              <li>
                Personlige oplysninger: For eksempel dit navn, e-mailadresse og
                andre kontaktoplysninger, når du registrerer dig på vores
                platform eller køber vores tjenester.
              </li>
              <li>
                Betalingsoplysninger: Hvis du køber klippekort eller
                abonnementer, indsamler vi betalingsoplysninger som
                kreditkortnumre via sikre betalingssystemer.
              </li>
              <li>
                Brugsdata: Information om, hvordan du bruger vores hjemmeside og
                tjenester, såsom IP-adresser, browseroplysninger og cookies.
              </li>
            </ul>
          </div>
          <div>
            <p class="font-semibold">3. Formål med dataindsamling</p>
            <p>Vi bruger dine oplysninger til følgende formål:</p>
            <ul>
              <li>
                At administrere din konto og tilbyde de tjenester, du har købt.
              </li>
              <li>
                At behandle betalingstransaktioner og levere kundesupport.
              </li>
              <li>
                At forbedre vores hjemmeside og tjenester baseret på
                brugeradfærd og feedback.
              </li>
              <li>
                At sende dig relevante opdateringer og informationer om dine køb
                og vores tjenester, hvis du har givet samtykke til det.
              </li>
            </ul>
          </div>
          <div>
            <p class="font-semibold">4. Cookies</p>
            <p>
              Vi bruger cookies og lignende teknologier til at gemme oplysninger
              om dine præferencer og til at forbedre din brugeroplevelse.
              Cookies er små tekstfiler, der placeres på din enhed. Du kan vælge
              at afvise cookies i dine browserindstillinger, men det kan påvirke
              funktionaliteten af vores hjemmeside.
            </p>
          </div>
          <div>
            <p class="font-semibold">5. Deling af data</p>
            <p>
              Vi deler ikke dine oplysninger med tredjepart, medmindre det er
              nødvendigt for at udføre de tjenester, du har bestilt, eller som
              krævet af lovgivningen. Vi kan dog dele oplysninger med betroede
              serviceudbydere, der hjælper os med at administrere vores systemer
              og betalingsbehandling.
            </p>
          </div>
          <div>
            <p class="font-semibold">6. Sikkerhed</p>
            <p>
              Vi implementerer passende tekniske og organisatoriske
              foranstaltninger for at beskytte dine oplysninger mod uautoriseret
              adgang, tab eller misbrug. Dette inkluderer brugen af kryptering
              og sikre servere.
            </p>
          </div>
          <div>
            <p class="font-semibold">7. Dine rettigheder</p>
            <p>
              Du har ret til at anmode om adgang til dine oplysninger, rette
              eventuelle unøjagtigheder og anmode om sletning af dine data, i
              det omfang det er tilladt i henhold til gældende lovgivning. Hvis
              du ønsker at udøve disse rettigheder, kan du kontakte os som
              beskrevet nedenfor.
            </p>
          </div>
          <div>
            <p class="font-semibold">8. Ændringer i privatlivspolitikken</p>
            <p>
              Vi kan opdatere denne privatlivspolitik fra tid til anden.
              Eventuelle ændringer vil blive offentliggjort på vores hjemmeside,
              og vi vil informere dig om væsentlige ændringer. Din fortsatte
              brug af vores tjenester efter sådanne ændringer udgør din accept
              af den opdaterede politik.
            </p>
          </div>
          <div>
            <p class="font-semibold">9. Kontaktoplysninger</p>
            <p>
              Hvis du har spørgsmål eller bekymringer vedrørende denne
              privatlivspolitik eller vores praksis med hensyn til personlige
              oplysninger, bedes du kontakte os på:
            </p>
          </div>
          <div>
            <ul>
              <li>UNID Studio</li>
              <li>Email: kontakt@unidstudio.dk</li>
              <li>Telefon: 61 72 78 38</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    % include('components/footer_component')

    <!-- SCRIPT -->
    <script src="/static/script.js"></script>
  </body>
</html>
