<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS -->
    <link rel="stylesheet" href="/app.css" />
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <!-- FAVICONS -->
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/favicon/favicon.ico"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/favicon/favicon-16x16.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/assets/favicon/android-chrome-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="512x512"
      href="/assets/favicon/android-chrome-512x512.png"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>{{title}}</title>
  </head>
  <body>
    <!-- prettier-ignore -->
    % include('components/header_component')
    <section class="bg-unidLigthPink">
      <div class="width_standard padding_y_standard space_y_standard mx-auto">
        <div class="flex justify-center">
          <div
            class="lg:w-2/3 flex justify-center flex-col text-center gap-y-4 md:gap-y-6"
          >
            <h1>Vilkår og betingelser for UNID Studio</h1>
          </div>
        </div>
        <div class="space-y-6">
          <p>Opdateret: 2. september 2024</p>
          <p>
            Velkommen til UNID Studio! Disse vilkår og betingelser ("Vilkår")
            styrer din adgang til og brug af vores hjemmeside og tjenester,
            herunder køb af hjemmesider, klippekort og abonnementer. Ved at
            oprette en profil og/eller foretage et køb accepterer du at være
            bundet af disse Vilkår.
          </p>
          <div>
            <p class="font-semibold">1. Generelle Vilkår</p>
            <p>
              1.1. Ved at oprette en brugerprofil og bruge vores tjenester,
              erklærer du dig enig i at overholde disse Vilkår. 1.2. Du skal
              være mindst 18 år gammel for at oprette en konto og købe tjenester
              fra os. 1.3. Vi forbeholder os retten til at ændre disse Vilkår
              til enhver tid. Ændringer vil træde i kraft, når de er
              offentliggjort på vores hjemmeside.
            </p>
          </div>
          <div>
            <p class="font-semibold">2. Oprettelse af Profil</p>
            <p>
              2.1. For at kunne bruge vores tjenester, skal du oprette en profil
              på vores platform. 2.2. Du er ansvarlig for at opretholde
              fortroligheden af dine login-oplysninger og er ansvarlig for alle
              aktiviteter, der sker under din konto.
            </p>
          </div>
          <div>
            <p class="font-semibold">3. Køb af Tjenester</p>
            <p>
              3.1. Du kan købe klippekort og abonnementer via vores platform.
              Priserne er angivet på hjemmesiden og kan ændres uden varsel. 3.2.
              Betalinger skal foretages via de accepterede betalingsmetoder på
              hjemmesiden. Alle betalinger er bindende og ikke-refunderbare,
              medmindre andet er angivet.
            </p>
          </div>
          <div>
            <p class="font-semibold">4. Levering af Tjenester</p>
            <p>
              4.1. Vi forpligter os til at levere de aftalte tjenester inden for
              den aftalte tidsramme. Leveringstider kan dog variere afhængigt af
              projektets kompleksitet. 4.2. Vi er ikke ansvarlige for
              forsinkelser eller fejl i leveringen, som skyldes forhold uden for
              vores kontrol.
            </p>
          </div>
          <div>
            <p class="font-semibold">5. Brugerens Forpligtelser</p>
            <p>
              5.1. Du må ikke bruge vores tjenester til ulovlige formål eller
              til at krænke andres rettigheder. 5.2. Du er ansvarlig for de
              oplysninger, du giver os, og skal sikre, at de er korrekte og
              opdaterede.
            </p>
          </div>
          <div>
            <p class="font-semibold">6. Ansvarsfraskrivelse</p>
            <p>
              6.1. Tjenesterne leveres "som de er" og "som tilgængelige". Vi
              giver ingen garantier for, at tjenesterne vil opfylde dine
              specifikke krav eller være uafbrudte, fejlfrie eller sikre. 6.2.
              Vi er ikke ansvarlige for eventuelle direkte, indirekte eller
              følgeskader, der måtte opstå som følge af brugen af vores
              tjenester.
            </p>
          </div>
          <div>
            <p class="font-semibold">7. Opsigelse</p>
            <p>
              7.1. Vi forbeholder os retten til at suspendere eller opsige din
              konto, hvis du overtræder disse Vilkår. 7.2. Du kan til enhver tid
              opsige dit abonnement ved at kontakte os. Opsigelse af
              abonnementet skal ske inden månedens udgang. Hvis du opsiger midt
              i måneden, vil du ikke få refunderet betalingen for den resterende
              del af måneden. Eventuelle tilbageværende klip eller tid på
              abonnementet refunderes ikke.
            </p>
          </div>
          <div>
            <p class="font-semibold">8. Privatliv</p>
            <p>
              8.1. Vores behandling af dine personlige data er beskrevet i vores
              privatlivspolitik, som du kan finde på hjemmesiden. 8.2. Ved at
              bruge vores tjenester accepterer du, at dine personlige
              oplysninger bliver behandlet i overensstemmelse med vores
              privatlivspolitik.
            </p>
          </div>
          <div>
            <p class="font-semibold">9. Lovvalg og Værneting</p>
            <p>
              9.1. Disse Vilkår er underlagt dansk lovgivning. 9.2. Eventuelle
              tvister, der måtte opstå i forbindelse med disse Vilkår, skal
              indbringes for domstolene i København.
            </p>
          </div>
          <div>
            <p class="font-semibold">10. Kontaktinformation</p>
            <p>
              Hvis du har spørgsmål om disse Vilkår, er du velkommen til at
              kontakte os på kontakt@unidstudio.dk
            </p>
          </div>
        </div>
      </div>
    </section>
    % include('components/footer_component')

    <!-- SCRIPT -->
    <script src="/static/script.js"></script>
  </body>
</html>
