<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS -->
    <link rel="stylesheet" href="/app.css" />
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <!-- FAVICONS -->
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/favicon/favicon.ico"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/favicon/favicon-16x16.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/assets/favicon/android-chrome-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="512x512"
      href="/assets/favicon/android-chrome-512x512.png"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>{{title}}</title>
  </head>
  <body>
    <!-- prettier-ignore -->
    % include('components/header_component')
    <section class="bg-unidBeige">
      <div class="width_standard padding_y_standard space_y_standard mx-auto">
        <div class="flex flex-col gap-y-6 md:gap-y-8">
          <div class="flex text-center">
            <div class="w-5 h-5">
              % include(global_content['ui_icons']['arrow'])
            </div>
            <a
              href="/portfolio"
              class="group transition duration-300 cursor-pointer text-sm hover:scale-105 font-bold ease-in-out"
            >
              Tilbage til portfolio
              <span
                class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-unidPurple"
              ></span>
            </a>
          </div>
          <div class="flex">
            <div class="space-y-2 md:w-1/2">
              <p id="decorative_header">Visuel identitet & website</p>
              <h2>Imput</h2>
            </div>
          </div>
          <div class="w-full gap-10 grid grid-cols-1 md:grid-cols-2">
            <div class="space-y-6">
              <div class="space-y-2">
                <p id="paragraph_text">
                  Virksomheden Imput har fået udarbejdet en visuel identitet,
                  logo samt et website. Imput har udviklet en app, der gør det
                  nemt at forbinde sin bil og ladeboks til deres system, hvilket
                  giver brugeren fuldt overblik over sit forbrug.
                </p>
              </div>
              <div class="space-y-2">
                <p id="paragraph_text">
                  Deres website er simpelt og stilfuldt, og det afspejler både
                  Imputs vision og hvad de tilbyder som virksomhed. På websitet
                  bliver man henvist, til at kunne hente Imputs app.
                </p>
              </div>
              <div class="space-y-2">
                <p id="paragraph_text">
                  Til deres nye visuelle identitet valgte vi en farvepalette,
                  der reflekterer virksomhedens brand. Farverne symboliserer
                  nordlyset, og den grønne farve, som er fremtrædende, udstråler
                  bæredygtighed. Logoets symbol består af syv cirkler, der
                  repræsenterer ladestikket til elbiler, og det er indrammet af
                  en firkant, som er karakteristisk for apps.
                </p>
              </div>
              <div class="w-full md:w-fit lg:w-full xl:w-fit pt-6">
                <a href="https://imput.dk/" target="_blank">
                  <button type="button" id="primary_button">Se website</button>
                </a>
              </div>
            </div>
            <div class="flex justify-center">
              <img
                alt="Billede af Imputs forside på deres website."
                class=""
                src="/assets/images/portfolio/imput5.png"
              />
            </div>
          </div>
        </div>

        <div class="grid grid-cols-1 gap-4 lg:grid-cols-3 lg:gap-8">
          <div>
            <img
              alt="Billede af Imputs logo."
              class="w-full object-cover h-full"
              src="/assets/images/portfolio/imput2.webp"
            />
          </div>
          <div class="lg:col-span-2">
            <img
              alt="Udklip af Imputs designguide, der afspejler deres visuelle identitet."
              class="w-full object-cover h-full"
              src="/assets/images/portfolio/imput3.webp"
            />
          </div>
        </div>
      </div>
    </section>

    % include('components/footer_component')

    <!-- SCRIPT -->
    <script src="/static/script.js"></script>
  </body>
</html>
