<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS -->
    <link rel="stylesheet" href="/app.css" />
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <!-- FAVICONS -->
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/favicon/favicon.ico"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/favicon/favicon-16x16.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/assets/favicon/android-chrome-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="512x512"
      href="/assets/favicon/android-chrome-512x512.png"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>{{title}}</title>
  </head>
  <body>
    <!-- prettier-ignore -->
    % include('components/header_component')
    <section class="bg-unidLigthPink">
      <div class="width_standard padding_y_standard space_y_standard mx-auto">
        <div class="flex flex-col gap-y-6 md:gap-y-8">
          <div
            class="w-full gap-10 grid items-center grid-cols-1 md:grid-cols-2"
          >
            <div class="flex flex-col gap-y-6 md:gap-y-8">
              <div class="flex text-center">
                <div class="w-5 h-5 text-unidDarkBlue">
                  % include(global_content['ui_icons']['arrow'])
                </div>
                <a
                  href="/cases"
                  class="group transition duration-300 cursor-pointer text-sm hover:scale-105 font-bold ease-in-out text-unidDarkBlue"
                >
                  Tilbage til portfolio
                  <span
                    class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-unidDarkBlue"
                  ></span>
                </a>
              </div>
              <div class="space-y-2">
                <!-- prettier-ignore -->
                <p id="decorative_header">Webshop</p>
                <h2>Nomi Creations</h2>
              </div>
              <div class="space-y-6">
                <div class="space-y-2">
                  <p id="paragraph_text">
                    Nomi Creations er en webshop, der specialiserer sig i
                    børneplakater. Vi har været med fra begyndelsen og har
                    leveret en omfattende løsning, der inkluderer design af
                    logo, 5. element, og visuel identitet. Vi har også udviklet
                    en skræddersyet webplatform, der præcist matcher kundens
                    vision og ønsker for webshoppen.
                  </p>
                </div>
                <div class="space-y-2">
                  <p id="paragraph_text">
                    For denne case har vi desuden udført dybdegående analyser og
                    omfattende tests af websitet, specifikt rettet mod Nomi
                    Creations’ målgruppe. Dette sikrer en optimal
                    brugeroplevelse og effektiv målretning af produkterne til de
                    rette kunder.
                  </p>
                </div>

                <div class="w-full md:w-fit lg:w-full xl:w-fit pt-6">
                  <a href="https://nomicreations.dk/" target="_blank">
                    <button type="button" id="primary_button">
                      Se website
                    </button>
                  </a>
                </div>
              </div>
            </div>
            <div class="flex justify-center">
              <!-- prettier-ignore -->
              <img
                  alt="Billede af Nomi Creations forside på deres website."
                  class="h-auto"
                  src="/assets/images/portfolio/nomi5.png"
                />
            </div>
          </div>
        </div>

        <div class="grid grid-cols-1 gap-4 lg:grid-cols-3 lg:gap-8">
          <div>
            <img
              alt="Nomi Creations’ styletile, der afspejler deres visuelle identitet."
              class="w-full object-cover h-full"
              src="/assets/images/portfolio/nomi3.png"
            />
          </div>
          <div class="">
            <img
              alt="Nomi Creations’ visitkort."
              class="w-full object-cover h-full"
              src="/assets/images/portfolio/nomi4.jpg"
            />
          </div>
          <div class="">
            <img
              alt="Nomi Creations’ logo."
              class="w-full object-cover h-full"
              src="/assets/images/portfolio/nomi2.png"
            />
          </div>
        </div>
      </div>
    </section>

    % include('components/footer_component')

    <!-- SCRIPT -->
    <script src="/static/script.js"></script>
  </body>
</html>
